# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

**/cmake-build-debug
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/CMakeFiles/
**/CTestTestfile.cmake
**/Makefile
**/*.cbp
**/CMakeScripts
**/compile_commands.json

.DS_Store
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/reply/cache-v2-60c9023ad0e32c150d90.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f3a76691833b0bad3110.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-eb05f517e97c3e7cc1da.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-03-19T04-50-32-0448.json
cmake-build-debug/.cmake/api/v1/reply/target-example-Debug-1d6d8bbb82f5f294a641.json
cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-476ae67a70478aefc03d.json
cmake-build-debug/.cmake/api/v1/reply/target-raylib-Debug-65f24c164eedc8c7cd51.json
cmake-build-debug/.DS_Store
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/_deps/raylib-build/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/cmake_uninstall.cmake
cmake-build-debug/_deps/raylib-build/CTestTestfile.cmake
cmake-build-debug/_deps/raylib-build/raylib/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/raylib/CTestTestfile.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/src/cmake_install.cmake
cmake-build-debug/_deps/raylib-src/src/raylib.h
cmake-build-debug/_deps/raylib-subbuild/.ninja_log
cmake-build-debug/_deps/raylib-subbuild/build.ninja
cmake-build-debug/_deps/raylib-subbuild/cmake_install.cmake
cmake-build-debug/_deps/raylib-subbuild/CMakeCache.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.json
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeLists.txt
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/download-raylib-populate.cmake
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/extract-raylib-populate.cmake
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-urlinfo.txt
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-mkdirs.cmake
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/compile_commands.json
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/ParticleLife
cmake-build-debug/Testing/Temporary/LastTest.log
.idea/vcs.xml
cmake-build-debug/.cmake/api/v1/reply/cache-v2-60c9023ad0e32c150d90.json
cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-f3a76691833b0bad3110.json
cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-eb05f517e97c3e7cc1da.json
cmake-build-debug/.cmake/api/v1/reply/index-2024-03-19T04-50-32-0448.json
cmake-build-debug/.cmake/api/v1/reply/target-example-Debug-1d6d8bbb82f5f294a641.json
cmake-build-debug/.cmake/api/v1/reply/target-glfw-Debug-476ae67a70478aefc03d.json
cmake-build-debug/.cmake/api/v1/reply/target-raylib-Debug-65f24c164eedc8c7cd51.json
cmake-build-debug/.DS_Store
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/_deps/raylib-build/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/cmake_uninstall.cmake
cmake-build-debug/_deps/raylib-build/CTestTestfile.cmake
cmake-build-debug/_deps/raylib-build/raylib/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/raylib/CTestTestfile.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/cmake_install.cmake
cmake-build-debug/_deps/raylib-build/raylib/external/glfw/src/cmake_install.cmake
cmake-build-debug/_deps/raylib-src/src/raylib.h
cmake-build-debug/_deps/raylib-subbuild/.ninja_log
cmake-build-debug/_deps/raylib-subbuild/build.ninja
cmake-build-debug/_deps/raylib-subbuild/cmake_install.cmake
cmake-build-debug/_deps/raylib-subbuild/CMakeCache.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.json
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/raylib-populate.dir/Labels.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/rules.ninja
cmake-build-debug/_deps/raylib-subbuild/CMakeFiles/TargetDirectories.txt
cmake-build-debug/_deps/raylib-subbuild/CMakeLists.txt
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/download-raylib-populate.cmake
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/extract-raylib-populate.cmake
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/src/raylib-populate-stamp/raylib-populate-urlinfo.txt
cmake-build-debug/_deps/raylib-subbuild/raylib-populate-prefix/tmp/raylib-populate-mkdirs.cmake
cmake-build-debug/build.ninja
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.27.8/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/rules.ninja
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/compile_commands.json
cmake-build-debug/CPackConfig.cmake
cmake-build-debug/CPackSourceConfig.cmake
cmake-build-debug/ParticleLife
cmake-build-debug/Testing/Temporary/LastTest.log
